html {
}

body {
	background: url(/static/img/background.png) no-repeat center center fixed;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
	background-size: cover;         /* Generic*/
	overflow: hidden;
	margin: 40px;
	padding: 0;
}

#logo {
	background: url(/static/img/logo_wiiu.png) no-repeat;
	width: 300px;
	height: 85px;
}

.btn-action {
	width: 200px;
}

#footer {
	position: fixed;
	bottom: 70px;
}
